<% extend("../master") %>
<div class="container-fluid">
    <div class="row content">
       <%- include('sections/leftSite'); %>
       

       <%- include('sections/rightSite'); %>
     
    </div>
</div>